// colors

// eof colors

// transitions
  $tr: all .3s;
// eof transitions

// layers for z-index
$layer1: 10;
$layer2: 20;
$layer3: 30;
$layer4: 40;
$layer5: 50;
$layertop: 999;
// eof layers for z-index
