@import "variables";
@import "general";
@import "smart-grid";

body {
  font-family: "Roboto", arial, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #202126;
  box-sizing: border-box;
  overflow-x: hidden;
}

// remove tap color highlight
* {
  -webkit-tap-highlight-color: transparent;
}
.hd {
  display: none;
  @include mobile {
    display: block;
  }
}
// hero section
  .hero {
    position: relative;
    height: 100vh;
    min-height: 600px;
    display: flex;
    background-image: url(/img/bg-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mobile {
      background-position: 59% 22%;
    }

    &:after {
      display: block;
      position: absolute;
      z-index: 0;
      content: "";
      height: 100%;
      width: 100%;
      background-image: linear-gradient(180deg, rgba(32, 33, 38, 0) 0%, #202126 100%);
      mix-blend-mode: normal;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  .hero-inner {
    margin-left: auto;
    margin-top: 8vw;
    margin-right: 10%;
    position: relative;
    z-index: 2;

    @include tablet {
      margin-top: 20px;
      margin-right: 0;
      padding-left: 1%;
      padding-right: 1%;
      box-sizing: border-box;
    }
    @include mobile {
      width: 100%;
    }
  }

  .logo {
    text-align: center; 
    margin-bottom: 35px;
    @include mobile {
      margin-bottom: 55px;
    }

    &__desc {
      margin-bottom: 16px;
    }
  }

  .activity {
    text-align: center;
    .btn {
      margin-top: 18px;
    }

    &__text {
      font-size: 24px;

      &--badge {
        width: 480px;
        padding-top: 29px;
        margin-top: -10px;
        color: #353617;
        font-size: 33px;
        font-weight: bold;
        line-height: 39px;
        padding-left: 75px;
        margin-left: -75px; // to fix padding
        background-image: url(../img/bg-hero-paint.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include mobile {
          width: 100%;
          font-size: 24px;
          padding-bottom: 10px;
          background-size: 150% 107%;
        }
      }
    }
  }

  .btn {
    position: relative;
    padding: 10px 100px;
    vertical-align: middle;
    font-size: 24px;
    font-family: inherit;
    color: #000;
    line-height: 28px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background: linear-gradient(180deg, #FFE800 0%, #FFC00D 100%);
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    transition: all .3s;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    &:before, &:after {
      content:"";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0;
      transition: all .4s;
    }
    &:before {
      z-index: 2;
      background: linear-gradient(180deg, #FFC00D 0%, #FFC00D 100%);
    }
    &:after {
      z-index: 2;
      background: linear-gradient(180deg, #CF9902 0%, #FFC00D 100%);
    }
    &:hover:before {
      opacity: 1;
    }
    &:active {
      transform: translateY(1px);
      &:after {
        opacity: 1;
      }
    }
    &__inner {
      position: relative;
      z-index: 3;
    }
  }
// eof hero section



// about section
  .about {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #202126;
    position: relative;
    background-blend-mode: lighten;
    background-image: url(../img/originals/bg-about.jpg);
    background-position: center 0%;
    background-size: cover;

    @include tablet {
      height: auto;
    }
    @include mobile {
      background-image: none;
    }

    &-inner {
      @include row-flex();
      @include wrapper();
    }
  }

  .advantages {
    @include col();
    @include size(5);
    @include shift-left(1);

    padding-right: 6%;
    @include tablet {
      @include size(10);
      padding-right: 0;
      padding-bottom: 50px;
    }
    @include mobile {
      @include size(12);
      @include shift-left(0);
      margin-left: 0;
    }

    &--wide {
      width: 100%;
    }

    &__item {
      margin-top: 80px;
      &:first-of-type {
        margin-top: 0;
      }
    }
    &__heading {
      margin-bottom: 8px;
      margin-top: 0;
      font-size: 36px;
      font-weight: bold;
      color: #D6D4D0;
      @include mobile {
        font-size: 24px;
      }
    }
    &__text {
      @include mobile {
        line-height: 18px;
      }
    }
  }

  .about-g {
    display: flex;
    @include col();
    @include size(6);
    @include tablet {
      @include size(12)
    }
    @include mobile {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      position: relative;
      display: flex;
      width: 33.33333%;
      height: 635px;
      overflow: hidden;
      border-right: 1px solid #fff;
      align-items: center;
      justify-content: center;

      @include tablet {
        @include col();
        @include size(4);
        height: 585px;
        border-right: none;
      }
      @include mobile {
        @include size(12);
        border-right: none;
        height: auto;
        margin-bottom: 30px;
      }
      
      
      &:nth-of-type(1) {
        .about-g__img {
          transform: translate(32%,0px);
          background-image: url(../img/c-about-img-1.png);
          @include mobile {
            transform: none;
          }
        }
      }
      &:nth-of-type(2) {
        .about-g__img {
          background-image: url(../img/c-about-img-2.png);
          transform: translate(0,0px);
          @include mobile {
            transform: none;
          }
        }
      }
      &:nth-of-type(3) {
        border: none;

        .about-g__img {
          background-image: url(../img/c-about-img-3.jpg);
          transform: translate(-63%,0px);
          @include mobile {
            transform: none;
          }
        }
      }
    }
    &__img {
      width: 128%;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      object-fit: cover;
      will-change: transform;

      @include tablet {
        transform: none !important;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:after {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }
    &__inner {
      display: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      font-size: 14px;
      line-height: 16px;
      box-sizing: border-box;
      padding: 30px;
      text-align: center;
      background-color: rgba(32, 33, 38, 0.5);

      @include mobile {
        display: block;
      }
    }
    &__text {
      position: absolute;
      width: 80%;
      padding: 30px;
      box-sizing: border-box;
      &-1 {
        left: 0;
        bottom: 0;
      }
      &-2 {
        top: 0;
        left: 0;
      }
      &-3 {
        top: 115px;
        left: 0;
      }
      @include tablet {
        display: none;
      }
    }
  }
// eof about section



// about-2 section
.about-2 {
  position: relative;
  padding-top: 75px;
  padding-bottom: 150px;
  box-sizing: border-box;
  min-height: 800px;

}
.about-title {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;

  img {
    width: 100%;
  }
}
.about-2-inner {
  @include row-flex();
  @include wrapper();

  @include tablet {
    flex-direction: column-reverse;
  }

  .advantages {
    @include col();
    @include size(6);
    @include tablet {
      @include size(10);
      @include shift-left(1);
      padding-bottom: 40px;
    }
    @include mobile {
      @include size(12);
      @include shift-left(0);
    }
  }
}
.about-circles {
  @include col();
  @include size(5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include tablet {
    @include size(12);
    flex-direction: row;
  }
  @include mobile {
    flex-direction: column;
  }

  &__item {
    width: 50%;
    border-radius: 50%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    will-change: transform;
    &:nth-of-type(1) {
      // box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.25); // TODO: add shadow
      background-image: url(../img/c-about2-img-1.png);
    }
    &:nth-of-type(2) {
      background-image: url(../img/c-about2-img-2.jpg);
    }
    &:nth-of-type(3) {

      background-image: url(../img/c-about2-img-3.png);
      &:after {
        padding-top: 0;
        @include tablet {
          padding-top: 100%;
        }
      }
    }

    &:after {
      content: "";
      display: block;
      padding-top: 100%;
    }
    &:nth-of-type(2) {
      display: none;
      @include tablet {
        display: block;
      }
    }
    &:nth-of-type(3) {
      @include tablet {
        width: 31.45833% !important;
      }
      @include mobile {
        width: 98.125% !important;
      }
    }
    @include tablet {
      @include col();
      @include size(4);
      transform: none !important;
    }
    @include mobile {
      @include size(12);
      margin-bottom: 30px;
      
    }

    &-inner { // parallax circle inner
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url(../img/c-about2-img-2.jpg);
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateY(-10%);
      will-change: transform;
      &:after {
        content: "";
        display: inline-block;
        padding-top: 100%;
      }
      @include tablet {
        display: none;
      }
    }
  }
  &__inner {
    display: none;

    @include mobile {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 30px;
      width: 100%;
      font-size: 14px;
      line-height: 16px;
      box-sizing: border-box;
      text-align: center;
      background-color: rgba(32, 33, 38, 0.5);
    }
  }
  &__trigger {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 100px;
    pointer-events: none;
  }
}
// eof about-2 section



// services section
.services {
  position: relative;
  padding-bottom: 210px;
  @include wrapper();
  padding-top: 20px;
  position: relative;

  &__title {
    margin-right: 1.5%;
    color: rgba(255, 255, 255, 0.03);
    font-size: 144px;
    text-align: right;
    font-weight: 900;
    pointer-events: none;
    @include mobile {
      font-size: 48px;
    }
  }
  &__subtitle {
    font-size: 36px;
    color: #D6D4D0;
    font-weight: 400;
    position: absolute;
    left: 73px;
    top: 0px;
    transform: rotate(90deg);
    transform-origin: 0 100%;

    @include tablet {
      display: none;
    }
  }

  &-slider { // services-slider
    @include row-flex();
    @include wrapper();
    width: 100%;

    &__item {
      position: relative;
      text-align: center;
      border-radius: 50%;
      box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      @include col();
      margin-left: 1vw;
      margin-right: 1vw;
      
      &:after {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }
    &__overlay {
      width: 100%;
      height: 100%;
      background-color: #171414;
      opacity: .83;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      pointer-events: none;

      @include mobile {
        display: none;
      }
    }
    &__desc {
      display: none;
      position: absolute;
      bottom: 0;
      width: 100%;
      font-size: 12px;
      text-align: center;
      padding-bottom: 30px;
      padding-top: 20px;
      background-color: rgba(32,33,38, .7);
    }
    &__text {
      display: none;
    }
    &__img {
      margin-left: auto;
      margin-right: auto;
      width: 260px;
      height: 260px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &-slider-controls {
    display: flex;
    width: 66%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    @include tablet {
      width: 100%;
      box-sizing: border-box;
      padding: 0 1.5%;
    }
    @include mobile {
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
    }
    .arrow--left {
      @include mobile {
        order: 2;
      }
    }
    .arrow--right {
      @include mobile {
        order: 2;
      }
    }
  }
}
.services__heading {
  display: none;
  font-size: 24px;
  line-height: 28px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;

  @include mobile {
    display: block;
  }
}
.services-description {
  width: 33%;
  text-align: center;
  @include tablet {
    width: 50%;
    flex-grow: 1;
  }
  @include mobile {
    width: 100%;
    box-sizing: border-box;
    padding-right: 0 10%;
    flex-grow: 0;
    margin-top: 10px;
    order: 1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

// slider
.services {
  .slick-list {
    padding: 206px 0 !important;
    @include mobile {
      padding: 0 !important;

    }
  }
  .slick-slide {
    transition: all 1s;
    position: relative;
    box-sizing: border-box;
    outline: none;
  }
  .services-slider__item--prev {
    transform: scale(1.3) translateX(-80px) translateZ(1px);
    z-index: 14;

    @include tablet {
      transform: none;
    }
  }
  .services-slider__item--next {
    transform: scale(1.3) translateX(80px) translateZ(1px);
    z-index: 14;

    @include tablet {
      transform: none;
    }
  }
  .slick-center {
    opacity: 1;
    transform: scale(2) translateZ(100px);
    z-index: 100;
    .services-slider__desc {
      display: block;
    }
    .services-slider__overlay {
      animation: over 1s linear;
      animation-fill-mode: forwards;
    }
    @include tablet {
      transform: scale(1.8) translateZ(10px);
    }
    @include mobile {
      transform: none;
    }
  }
}

.slick-dots li {
  padding: 10px;
}
.slick-dots li button {
  width: 19px;
  height: 1px;
  padding: 0;
  background-color: #fff;
  transition: all .3s;
  &:before {
    display: none;
  }
}

.slick-active {
  button {
    height: 3px !important;
  }
}

.services-slider__item.slick-active {
  display: block !important;
}

// eof services section


// gallery section
  .gallery {
    position: relative;
    background-color: #202126;
    background-color: #202126;
    position: relative;
    background-image: url(../img/bg-gallery.png);
    background-position: center 0%;
    background-size: cover;
    @include tablet {
      background-image: none;
    }

    &__title {
      margin-bottom: 24px;
      margin-right: 1.5%;
      color: rgba(255, 255, 255, 0.03);
      font-size: 106px;
      text-align: right;
      font-weight: 900;
      @include tablet {
        font-size: 46px;
        // margin-right: 0;
      }
      @include mobile {
        font-size: 48px;
        padding-left: 50px;
      }
    }
    .slick-track {
      height: 45vw;
      @include mobile {
        height: 350px;
      }
    }
  }
  .gallery-slider {
    @include row-flex();
    @include wrapper();
    align-items: stretch;
    height: 45vw;
    overflow: hidden;
    @include mobile {
      height: 350px;
    }

    &__item {
      @include col();
      @include size(4);
      display: flex !important;
      box-sizing: border-box;
      align-items: center;
      margin-left: 0.3%;
      margin-right: 0.3%;
      outline: none;
      cursor: pointer;

      @include mobile {
        width: 100wv !important;
        margin-left: 0.03vw;
        margin-right: 0.03vw;
      }

      &--double {
        display: flex;
        flex-direction: column;

        .gallery-slider__img-wrapper {
          height: 47%;
          width: 100%;
          
          &:nth-of-type(1) {
            transform: translateX(-5%);
            @include mobile {
              transform: none;
            }
          }
          &:nth-of-type(2) {
            margin-top: auto;
          }
        }
        &:nth-of-type(2n) {
          display: none;
        }
      }
    }
    &__img-wrapper {
      position: relative;
      height: 76%;
      width: 100%;
      overflow: hidden;
      outline: none;
      &:hover .gallery-slider__img {
        transform: scale(1.1);
        @include tablet {
          transform: none;
        }
      }
      @include mobile {
        height: 100%;
      }

      &:hover .gallery-slider__info {
        opacity: 1;
        @include mobile {
          display: none;
        }
      }
    }
    &__img {
      // position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      font-family: "object-fit: cover"; // HACK: ie/edge polyfill
      will-change: transform;
      transition: all .3s;
    }
    &__info {
      width: 100%;
      padding-top: 30px;
      padding-bottom: 28px;
      position: absolute;
      bottom: 0;
      color: #fff;
      text-align: center;
      background-color: rgba(32, 33, 38, .7);
      font-size: 24px;
      cursor: default;
      opacity: 0;
      transition: all .3s;
      pointer-events: none;
    }
  }
  .gallery-slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
      padding: 0 10px;
      margin-top: 40px;
      justify-content: space-between;
    }
    .arrow {
      @include mobile {
        width: 130px;
      }
      &--left {
        @include tablet {
          margin-right: 40px;
        }
        @include mobile {
          margin-right: 0px;
        }
      }
    }

    &__dots {
      margin: 0 10px;
      .slick-dots {
        padding-top: 3px;
        position: static;
        @include tablet {
          display: none;
        }
        li {
          position: relative;
          height: auto;
          margin: 0 10px;
          padding: 10px 0;

          &.slick-active {
            button {
              margin-top: -1px;
            }
          }

          button {
            position: absolute;
            top: 50%;
          }
        }
      }
    }
  }
// eof gallery section



// footer section
  .footer {
    @include row-flex();
    @include wrapper();
    padding-top: 400px;
    overflow: hidden;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #202126;;
      background-blend-mode: lighten;
      background-image: url(../img/bg-footer.jpg);
      background-position: center;
      background-size: cover;
      background-position-y: -4vw;
      opacity: .11;
      z-index: -1;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 30%;
      background: linear-gradient(180deg, #202126 61.88%, rgba(32, 33, 38, 0) 100%);
    }

    @include tablet {
      padding-top: 250px;
    }
    @include mobile {
      padding-top: 150px;
      width: 100%;
      padding: 0;
      padding-top: 150px;
    }

    &-credits {
      @include col();
      @include size(3);
      @include shift-left(1);
      
      @include tablet {
        @include shift-left(0);
      }
      @include mobile {
        @include size(12);
        padding-left: 10px;
        padding-right: 10px;
      }
      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__logo {
      position: relative;
      display: inline-block;
      animation: rotate 12s infinite linear;

      @include tablet {
        display: none;
        animation: none;
      }

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 12px;
        height: 12px;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        background-color: #fff;
        transform: translate(-50%, -50%);
      }
    }
    &__contacts {
      margin-top: 82px;
      font-size: 18px;
      padding-bottom: 30px;

      @include tablet {
        margin-top: 0;
      }

      p {
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }

    &__heading {
      font-size: 12px;
      line-height: 1.1;
      margin: 0 !important; //fix
    }
    &-social {
      margin: 30px 0;
      display: flex;

      &__item {
        width: 35px;
        height: 35px;
        margin-right: 10px;
        background-color: rgba(255,255,255,.25);
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        transition: all .3s;
        overflow: hidden;

        &:last-of-type {
          margin-right: 0;
        }
        &--fb {
          background-image: url(../img/i-fb.svg);
          &:hover {
            background-color: #3B5998;
          }
        }
        &--g {
          background-image: url(../img/i-g.svg);
          &:hover {
            background-color: #D9534F;
          }
        }
        &--i {
          position: relative;
          background-image: url(../img/i-i.svg);
          &:hover {
            &:after { // instagram background gradient
              opacity: 1;
            }
          }
          &:after { // instagram background gradient
            opacity: 0;
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: linear-gradient(to top, #F9ED32, #EE2A7B);
            z-index: -1;
            transition: all .3s;
          }
        }
      }
    }
  }
  .map-wrapper {
    @include col();
    @include size(8);
    @include tablet {
      @include size(9);
    }

    @include mobile {
      @include size(12);
      width: 100%;
      height: 250px;
      margin: 0;
    }
  }
  #map {
    width: 102%;
    height: 100%;
    @include tablet {
      padding-right: 3%;
    }
    @include mobile {
      width: 100%;
      padding-right: 0;
    }
  }
// eof footer section

// popup
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 10;

  &__dim {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.55);
    cursor: pointer;
    opacity: 0;
    transition: all 2s;
  }
  &__body {
    position: absolute;
    padding: 64px 194px;
    max-width: 750px;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #202126;
    border-radius: 3px;
    border: 6px solid #FFC50B;
    text-align: center;
    transition: all 2s;
    @include mobile {
      width: 100vw;
      padding: 30px 60px;
    }
  }
  &__heading {
    font-size: 36px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 14px;
    @include mobile {
      font-size: 24px;
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    overflow: hidden;
    @include mobile {
      margin-top: 20px;
    }

    input[type="text"] {
      width: 100%;
      font-family: inherit;
      color: inherit;
      background-color: transparent;
      border: none;
      box-sizing: border-box;
      padding: 13px 0;
      outline: none;
      border-bottom: 1px solid #fff;
    }
    .btn {
      margin-top: 60px;
      @include mobile {
        padding-left: 0;
        padding-right: 0;
        margin-top: 40px;
      }
    }
  }
}
fieldset {
  position: relative;
  border: none;
}
.input-placeholder {
  position: absolute;
  top: 18px;
  left: 11px;
  transition: all .3s;
  pointer-events: none;
}
input + .input-placeholder {

}
input:focus + .input-placeholder {
  transform: translateY(-17px);
  font-size: 10px;
  opacity: .6;
}
input:valid + .input-placeholder {
  transform: translateY(-17px);
  font-size: 10px;
  opacity: .6;
}

.popup-animate {
  opacity: 0;
  transform: translateY(70px);
}
.popup.popup--visible {
    display: block !important;

    .popup__dim {
      animation: fadeIn 1s;
      animation-fill-mode: forwards;
    }
    .popup__body {
      animation: revealCenter .6s;
    }

    .popup-animate {
      animation: reveal 1.3s;
      animation-fill-mode: forwards;
    }
    .popup-animate-1 {
      animation-delay: .1s;
    }
    .popup-animate-2 {
      animation-delay: .2s;
    }
    .popup-animate-3 {
      animation-delay: .3s;
    }
    .popup-animate-4 {
      animation-delay: .4s;
    }
    .popup-animate-5 {
      animation-delay: .5s;
    }
  }
// eof popup

// animations
  // footer logo rotation
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes reveal {
    0% {
      transform: translateY(70px);
      opacity: 0;
    }
    50% {
      transform: translateY(-15px);
      opacity: .4;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes revealCenter {
    0% {
      transform: translate(-50%, -35%);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  // services slider overlay
  @keyframes over {
    0% {
      opacity: .83;
    }
    100% {
      opacity: 0;
    }
  }
  
  // instagram social icon background
  @keyframes insta {
    0% {
      background-image: url(../img/i-i.svg), linear-gradient(to top, #58595C, #58595C);
    }
    100% {
      background-image: url(../img/i-i.svg), linear-gradient(to top, #F9ED32, #EE2A7B);
    }
  }
// eof animations

// arrows
  .arrows {
    padding: 20px;
  }
  .arrow {
    cursor: pointer;
    transition: all .3s;
    will-change: transform;

    &:hover {
      transform: scale(1.2);
      @include tablet {
        transform: none;
      }
    }

    &__inner {
      position: relative;
      width: 130px;
      height: 1px;
      margin: 10px 0;
      background-color: #fff;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid white;
        transform: rotate(-45deg);
        transform-origin: 0 0;
      }
    }

    &--left {
      transform-origin: 100% 50%;
      .arrow__inner:after {
        border-bottom: none;
        border-right: none;
      }
    }
    &--right {
      transform-origin: 0% 50%;
      .arrow__inner:after {
        border-bottom: none;
        border-left: none;
        left: auto;
        right: 0;
        transform: rotate(45deg);
        transform-origin: 100% 0%;
      }
    }
  }
// eof arrows

// gallery lightbox overlay
  .sl-overlay {
    background-color: #000;
  }
  .sl-wrapper .sl-close, .sl-wrapper .sl-counter, .sl-wrapper .sl-navigation button {
    color: #fff !important;
  }
// eof gallery lightbox overlay