@import "variables";
@import "general";
@import "smart-grid";

body {
  font-family: "Roboto", arial, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #202126;
  box-sizing: border-box;
  // overflow-x: hidden;
}

// hero section
.hero {
  position: relative;
  height: 100vh;
  min-height: 600px;
  display: flex;
  background-image: url(/img/bg-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include mobile {
    background-position: 59% 22%;
  }

  &:after {
    display: block;
    position: absolute;
    z-index: 0;
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(32, 33, 38, 0) 0%, #202126 100%);
    mix-blend-mode: normal;
    left: 0;
    bottom: 0;
    z-index: 1;
  }

}
.hero-inner {
  margin-left: auto;
  // margin-top: 171px;
  margin-top: 11vw;
  margin-right: 30px;
  position: relative;
  z-index: 2;
  @include tablet {
    margin-top: 20px;
    margin-right: 0;
  }
}

.logo {
  text-align: center; 
  margin-bottom: 35px;

  &__desc {
    margin-bottom: 16px;
  }
}

.activity {
  text-align: center;
  .btn {
    margin-top: 18px;
  }

  &__text {
    font-size: 24px;

    &--badge {
      width: 480px;
      padding-top: 29px;
      margin-top: -10px;
      color: #353617;
      font-size: 33px;
      font-weight: bold;
      line-height: 39px;
      padding-left: 75px;
      margin-left: -75px; // fix padding
      background-image: url(../img/bg-hero-paint.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @include mobile {
        width: 100%;
        padding-bottom: 10px;
        background-size: 150% 107%;
      }
    }
  }
}

.btn {
  font-size: 24px;
  color: #000;
  line-height: 28px;
  vertical-align: middle;
  text-align: center;
  padding: 10px 100px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(180deg, #FFE800 0%, #FFC00D 100%);
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  transition: all .3s;
  cursor: pointer;
  outline: none;
  
  &:hover {
    background: linear-gradient(180deg, #FFC00D 0%, #FFC00D 100%);
  }

  &:active {
    background: linear-gradient(180deg, #CF9902 0%, #FFC00D 100%);
    transform: translateY(1px);
  }
}
// eof hero section



// about section
.about {
  // position: relative;

  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  background-color: #202126;
  position: relative;
  // background-mix-blend-mode: lighten;
  background-blend-mode: lighten;
  background-image: url(../img/originals/bg-about.jpg);
  // opacity: .7;
  background-position: center 0%;
  background-size: cover;
  border: 1px solid red;

  @include tablet {
    height: auto;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(255,0,0,.3);
    background-color: #202126;
    background-mix-blend-mode: lighten;
    // background-image: url(../img/originals/bg-about.jpg);
    // opacity: .7;
    background-position: center;
    background-size: cover;
    // mix-blend-mode: lighten;
  }

  &-inner {
    width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    @include row-flex();
    @include wrapper();
  }
}

.advantages {
  @include col();
  @include size(5);
  @include shift-left(1);

  // width: 390px;
  // margin-left: 160px;
  padding-right: 6%;
  @include tablet {
    @include size(10);
    padding-right: 0;
    padding-bottom: 50px;
  }
  @include mobile {
    @include size(12);
    @include shift-left(0);
    margin-left: 0;
  }
  // margin-top: 360px;
  &--wide {
    width: 100%;
  }

  &__item {
    margin-top: 80px;
    &:first-of-type {
      margin-top: 0;
    }
  }
  &__heading {
    margin-bottom: 8px;
    margin-top: 0;
    font-size: 36px;
    font-weight: bold;
    color: #D6D4D0;
  }
  &__text {

  }
}

.about-g {
  display: flex;
  @include col();
  @include size(6);
  // @include shift-left(1);
  // margin-right: 180px;
  @include tablet {
    @include size(12)
  }
  @include mobile {
    flex-direction: column;
    // justify-content: center;
    align-items: center;
  }

  &__item {
    display: flex;
    width: 33.33333%;
    height: 635px;
    overflow: hidden;
    border-right: 1px solid #fff;
    align-items: center;
    justify-content: center;

    @include tablet {
      height: 585px;
    }
    @include mobile {
      width: 300px;
      border-right: none;
      height: auto;
      margin-bottom: 30px;
    }

    &:nth-of-type(1) {
      .about-g__img {
        transform: translate(32%,30px);
        @include mobile {
          transform: none;
        }
      }
    }
    &:nth-of-type(2) {
      .about-g__img {
        transform: translate(0,-80px);
        @include mobile {
          transform: none;
        }
      }
    }
    &:nth-of-type(3) {
      border: none;

      .about-g__img {
        transform: translate(-63%,80px);
        @include mobile {
          transform: none;
        }
      }
    }
  }
  &__img {
    width: 128%;
    padding-bottom: 100%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
// eof about section



// about-2 section
.about-2 {
  position: relative;
  // height: 100vh;
  padding-top: 150px;
  padding-bottom: 150px;
  box-sizing: border-box;
  min-height: 800px;
  border: 1px solid grey;

}
.about-title {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;

  img {
    width: 100%;
  }
}
.about-2-inner {
  @include row-flex();
  @include wrapper();
  .advantages {
    @include col();
    @include size(6);
    @include mobile {
      @include size(12);
    }
  }
}
.about-circles {
  @include col();
  @include size(5);
}

// eof about-2 section



// services section
.services {
  @include wrapper();
  padding-top: 20px;
  position: relative;
  border: 1px solid green; //TODO: remove

  &__title {
    // @include wrapper();
    color: rgba(255, 255, 255, 0.03);
    font-size: 144px;
    text-align: right;
    // padding-right: 30px;
    font-weight: 900;
    pointer-events: none;
    @include mobile {
      font-size: 48px;
    }
  }

  &-slider {
    display: flex;
    width: 100%;

    &__item {
      flex-basis: 20%;
      text-align: center;
    }
    &__img {
      // width: 100%;
      margin-left: auto;
      margin-right: auto;
      width: 260px;
      height: 260px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
.slick-list {
  padding: 210px 50px !important;
}
.slick-slide {
  width: 260px;
  transition: all 1s;
  position: relative;
  display: none;
  opacity: .5;
  @include mobile {
    // opacity: 0;
    // width: 100vw !important;
    // width: 100% !important;
  }

  background-size: border-box;
  // border: 1px solid red;
}
.services-slider__item.slick-active {
  display: block;
  // border: 1px solid red;
  // transform: scale(1.5);
}
.services-slider__item--prev {
  // background-color: green;
  transform: scale(1.5) translateX(-80px);

  @include mobile {
    transform: none;
  }
}
.services-slider__item--next {
  // background-color: green;
  transform: scale(1.5) translateX(80px);

  @include mobile {
    transform: none;
  }
}
.slick-current {
  opacity: 1;
  transform: scale(2.57) translateZ(10px);
  z-index: 5;

  @include mobile {
    transform: none;
  }

}
// eof services section


// gallery section
.gallery {
  position: relative;
  &__title {
    
    color: rgba(255, 255, 255, 0.03);
    font-size: 106px;
    text-align: right;
    // padding-right: 30px;
    font-weight: 900;
    @include mobile {
      font-size: 48px;
      padding-left: 50px;
    }
  }
}
.gallery-slider {
  @include row-flex();
  @include wrapper();
  align-items: stretch;
  height: 45vw;

  &__item {
    @include col();
    @include size(4);
    box-sizing: border-box;
    display: flex;
    align-items: center;

    &--double {
      display: flex;
      flex-direction: column;

      .gallery-slider__img-wrapper {
        height: 47%;
        width: 100%;

        
        &:nth-of-type(1) {
          transform: translateX(-5%);
        }
        &:nth-of-type(2) {
          margin-top: auto;
        }
      }
    }
  }
  &__img-wrapper {
    position: relative;
    height: 76%;
    width: 100%;

    &:hover .gallery-slider__info {
      opacity: 1;
    }
  }
  &__img {
    // position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__info {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 28px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: rgba(32, 33, 38, .7);
    font-size: 24px;
    cursor: default;
    opacity: 0;
    transition: all .3s;
    // display: none;
  }
}
// eof gallery section



// footer section
.footer {
  @include row-flex();
  @include wrapper();
  padding-top: 400px;

  @include mobile {
    padding-top: 150px;
    width: 100%;
    padding: 0;
  }

  &-credits {
    @include col();
    @include size(3);
    @include shift-left(1);

    @include mobile {
      @include size(12);
      @include shift-left(0);
      padding-left: 10px;
      padding-right: 10px;
      // text-align: center;
    }
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__logo {
    position: relative;
    display: inline-block;
    animation: rotate 12s infinite linear;
    @include mobile {
      display: none;
      animation: none;
    }

    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 12px;
      height: 12px;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      background-color: #fff;
      transform: translate(-50%, -50%);
    }
  }
  &__contacts {
    margin-top: 82px;
    font-size: 18px;
    padding-bottom: 30px;

    p {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  &__heading {
    font-size: 12px;
    line-height: 1.1;
    margin: 0 !important; //fix
  }
  &-social {
    margin: 30px 0;
    display: flex;

    @include mobile {
      // justify-content: center;
    }

    &__item {
      width: 35px;
      height: 35px;
      margin-right: 10px;
      background-color: rgba(255,255,255,.25);
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;

      &:last-of-type {
        margin-right: 0;
      }
      &--fb {
        background-image: url(../img/i-fb.svg);
      }
      &--g {
        background-image: url(../img/i-g.svg);
      }
      &--i {
        background-image: url(../img/i-i.svg);
      }
    }
  }
}
.map-wrapper {
  @include col();
  @include size(8);

  @include mobile {
    @include size(12);
    height: 250px;
  }
}
#map {
  width: 102%;
  height: 100%;
}
// eof footer section



.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 10;

  &__dim {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.55);
    cursor: pointer;
    opacity: 0;
    transition: all 2s;
  }
  &__body {
    position: absolute;
    padding: 64px 194px;
    max-width: 750px;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #202126;
    border-radius: 3px;
    border: 6px solid #FFC50B;
    text-align: center;
    transition: all 2s;
    @include mobile {
      width: 100vw;
      padding: 30px 60px;
    }
  }
  &__heading {
    font-size: 36px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 14px;
  }
  &-form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    overflow: hidden;

    input[type="text"] {
      font-family: inherit;
      color: inherit;
      background-color: transparent;
      border: none;
      box-sizing: border-box;
      padding: 13px 0;
      outline: none;
      border-bottom: 1px solid #fff;

    }
    .btn {
      margin-top: 60px;
      @include mobile {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  
}
.popup-animate {
  opacity: 0;
  transform: translateY(70px);
}
.popup.popup--visible {
    display: block;

    .popup__dim {
      animation: fadeIn 1s;
      animation-fill-mode: forwards;
    }
    .popup__body {
      animation: revealCenter .6s;
    }

    .popup-animate {
      animation: reveal 1s;
      animation-fill-mode: forwards;
    }
    .popup-animate-1 {
      animation-delay: .1s;
    }
    .popup-animate-2 {
      animation-delay: .2s;
    }
    .popup-animate-3 {
      animation-delay: .3s;
    }
    .popup-animate-4 {
      animation-delay: .4s;
    }
    .popup-animate-5 {
      animation-delay: .5s;
    }
  }

// animations
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes reveal {
    0% {
      transform: translateY(70px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes revealCenter {
    0% {
      transform: translate(-50%, -35%);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
// eof animations
