doctype html
html(lang="ru")
  head
    title #HL
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="theme-color", content="#202126")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css", rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic")
    link(href="css/main.css", rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")

  body
    section.hero
      .hero-inner
        .logo
          .logo__desc тренировочный центр
          img(src="img/logo.svg", alt="hammer legend logo").logo__img
        .activity
          .activity__text С 15 по 30 декабря
          .activity__text--badge Успей купить клубную карту со скидкой 50%
          .activity__text Плати меньше – получай больше!
          button.btn заказать
          
    section.about
      //- .about__bg
      .about-inner
        .advantages
          .advantages__item
            .advantages__heading Удобное расположение 
            .advantages__text На левом берегу столицы, к нам удобно добираться, удобные транспортные пути, крытый паркинг
          .advantages__item
            .advantages__heading Высокотехнологичное  оборудование
            .advantages__text Тренажеры премиум-класса от мировых производителей Hammer Strength и Life Fitness обеспечат высокоэффективные занятия любому пользователю – от профессионального спортсмена до обычного клиента тренировочного центра.
          .advantages__item
            .advantages__heading Сертифицированная команда тренеров
            .advantages__text Каждое Ваше движение под контролем опытных тренеров. Они составляют уникальные программы занятий, учитывая состояние вашего здоровья, цели и опыт тренировок. 
        .about-g
          .about-g__item
            img(src="/img/c-about-img-1.png", alt="").about-g__img
          .about-g__item
            img(src="/img/c-about-img-2.png", alt="").about-g__img
          .about-g__item
            img(src="/img/c-about-img-3.jpg", alt="").about-g__img

    section.about-2
      .advantages.advantages--wide
          .advantages__item
            .advantages__heading Высокая пропускная способность клуба
            .advantages__text Забудьте о том, что такое теснота и скованность. Клуб Hammer Legend вмещает в себя 300-500 человек в час. В наших больших раздевалках, кардиозоне и зале тренажеров вы будете чувствовать себя комфортно.
          .advantages__item
            .advantages__heading Система мониторинга сердечного ритма MYZONE
            .advantages__text MYZONE - система мониторинга, позволяющая следить за здоровьем, отслеживать результаты физической активности и получать мотивацию для достижения поставленных фитнес-целей.
          .advantages__item
            .advantages__heading Официальный тренировочный центр Hammer Strenght
            .advantages__text Наш фитнес- клуб соответствует международным требованиям Hammer Strength по количеству и подбору силового оборудования к центру для профессиональной спортивной подготовки. В нашем клубе клиенты тренируются на высочайшем профессиональном уровне - так, как тренируются чемпионы!
          .advantages__item
            .advantages__heading Outdoor программы на свежем воздухе
            .advantages__text Функциональные тренировки на свежем воздухе Outdoor Fitness, на которых наши инструкторы помогут Вам освоить новые виды активности или усовершенствовать уже имеющиеся навыки, а также развить физические качества Вашего организма: силу, выносливость, скорость, ловкость и гибкость.

    section.services
      .services__title Услуги
      p Тренировочные залы 
      .services-slider
        .services-slider__item
          img(src="/img/c-services-1.png", alt="").services-slider__img
        .services-slider__item
          img(src="/img/c-services-1.png", alt="").services-slider__img
        .services-slider__item
          img(src="/img/c-services-1.png", alt="").services-slider__img
        .services-slider__item
          img(src="/img/c-services-1.png", alt="").services-slider__img
        .services-slider__item
          img(src="/img/c-services-1.png", alt="").services-slider__img

    section.gallery
      .gallery__title Галлерея HAMMER legend

    footer.footer
      .footer-credits
        .footer-logo
          img(src="/img/logo-footer.svg", alt="")
        .footer__contacts
          p Телефон:
          p +77075287070
          p Адрес:
          p Туркестан 10, ЖК «Коркем 2» Астана
          p Сделано в UCT
      #map