doctype html
html(lang="ru")
  head
    title #HL
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="theme-color", content="#202126")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css", rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/1.12.0/simplelightbox.min.css")
    link(href="css/main.css", rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
    script.
      new WOW().init();

  body
    section.hero
      .hero-inner
        .logo
          .logo__desc тренировочный центр
          img(src="img/logo.svg", alt="hammer legend logo").logo__img
        .activity
          .activity__text С 15 по 30 декабря
          .activity__text--badge Успей купить клубную карту со скидкой 50%
          .activity__text Плати меньше – получай больше!
          button.btn.js-btn-popup
            span.btn__inner заказать
          
    section.about
      .about-inner
        .advantages
          .advantages__item.wow.fadeInUp(data-wow-delay="0s")
            .advantages__heading Удобное расположение 
            .advantages__text Мы находимся на левом берегу столицы. Удобные транспортные пути позволят добраться к нам быстро и комфортно. Для владельцев автомобилей есть крытый паркинг.
          .advantages__item.wow.fadeInUp
            .advantages__heading Высокотехнологичное  оборудование
            .advantages__text Тренажеры премиум-класса от мировых производителей Hammer Strength и Life Fitness обеспечат высокоэффективные занятия любому пользователю – от профессионального спортсмена до обычного клиента тренировочного центра.
          .advantages__item.wow.fadeInUp
            .advantages__heading Сертифицированная команда тренеров
            .advantages__text Каждое Ваше движение под контролем опытных тренеров. Они составляют уникальные программы занятий, учитывая состояние вашего здоровья, цели и опыт тренировок. 

          .advantages__item.wow.fadeInUp
            .advantages__heading Высокая пропускная способность клуба
            .advantages__text Забудьте о том, что такое теснота и скованность. Клуб Hammer Legend вмещает в себя 300-500 человек в час. В наших больших раздевалках, кардиозоне и зале тренажеров вы будете чувствовать себя комфортно.
        .about-g
          .about-g__item.wow.fadeInUp(data-wow-delay="0.5s")
            .about-g__img(data-anchor-target=".about-g", data-bottom="transform: translate(32%,0px)",data-top="transform: translate(32%,20px)")

          .about-g__item.wow.fadeInUp(data-wow-delay="0.7s")
            .about-g__text.about-g__text-1 Сертифицированная команда тренеров
            .about-g__img(data-anchor-target=".about-g", data-bottom="transform: translate(0,0px)",data-top="transform: translate(0,-80px)")

          .about-g__item.wow.fadeInUp(data-wow-delay="0.9s")
            .about-g__text.about-g__text-2 Outdoor программы на свежем воздухе
            .about-g__text.about-g__text-3 Далеко-далеко за словесными горами
            .about-g__img(data-anchor-target=".about-g", data-bottom="transform: translate(-63%,0px)",data-top="transform: translate(-63%,70px)")


    section.about-2

      .about-title
        img(src="/img/hammer-legend.svg", alt="")
      .about-2-inner
        .about-circles
          .about-circles__item(data-anchor-target=".about-circles__trigger", data-bottom="transform: translateY(0%)",data-top="transform: translateY(100%)")
          .about-circles__item
          .about-circles__item(data-anchor-target=".about-circles__trigger", data-bottom="transform: translateY(0%); width:50%;",data-top="transform: translateY(-100%); width:55%;")
            .about-circles__item-inner(data-anchor-target=".about-circles__trigger", data-bottom="transform: translateY(-100%)",data-top="transform: translateY(100%)")
          .about-circles__trigger
        .advantages.advantages--wide
            .advantages__item.wow.fadeInUp
              .advantages__heading Система мониторинга сердечного ритма MYZONE
              .advantages__text MYZONE - система мониторинга, позволяющая следить за здоровьем, отслеживать результаты физической активности и получать мотивацию для достижения поставленных фитнес-целей.
            .advantages__item.wow.fadeInUp
              .advantages__heading Официальный тренировочный центр Hammer Strenght
              .advantages__text Наш фитнес- клуб соответствует международным требованиям Hammer Strength по количеству и подбору силового оборудования к центру для профессиональной спортивной подготовки. В нашем клубе клиенты тренируются на высочайшем профессиональном уровне - так, как тренируются чемпионы!
            .advantages__item.wow.fadeInUp
              .advantages__heading Outdoor программы на свежем воздухе
              .advantages__text Функциональные тренировки на свежем воздухе Outdoor Fitness, на которых наши инструкторы помогут Вам освоить новые виды активности или усовершенствовать уже имеющиеся навыки, а также развить физические качества Вашего организма: силу, выносливость, скорость, ловкость и гибкость.
            .advantages__item.wow.fadeInUp
              .advantages__heading Шкафчики с системой «анти-краж»
              .advantages__text Мы продумываем каждую мелочь, чтобы ваша тренировка была максимально результативной и вы могли полностью погрузиться в мир спорта. С нашими высоконадежными шкафчиками все ваши вещи будут в безопасности.

    section.services
      .services__title Услуги
        .services__subtitle Тренировочные залы
      .services-slider
        .services-slider__item(style="background-image: url(img/c-about-img-3.jpg)")
          .services-slider__overlay
          .services-slider__desc Зона блочных тренажеров.
          .services-slider__text Парк из 24 тренажеров компании «LifeFitness». Широкий выбор кардиооорудования Life Fitness предоставляет Вам возможность выбрать именно те тренажеры, которые соответствуют всем Вашим потребностям. Кардио зона отличается широким спектром разнообразных функций и характеристик. Оборудование Life Fitness создано для того, чтобы обеспечить вам абсолютно безопасные и предельно эффективные тренировки.
          
        .services-slider__item(style="background-image: url(img/c-about-img-3.jpg)")
          .services-slider__overlay
          .services-slider__desc Зона блочных тренажеров.
          .services-slider__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут.
          
        .services-slider__item(style="background-image: url(img/c-about-img-3.jpg)")
          .services-slider__overlay
          .services-slider__desc Зона блочных тренажеров.
          .services-slider__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Даль родного инициал, маленькая, на берегу ведущими запятых не страну языком!
          
        .services-slider__item(style="background-image: url(img/c-about-img-3.jpg)")
          .services-slider__overlay
          .services-slider__desc Зона блочных тренажеров.
          .services-slider__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Строчка своего вскоре повстречался запятых!
          
        .services-slider__item(style="background-image: url(img/c-about-img-3.jpg)")
          .services-slider__overlay
          .services-slider__desc Зона блочных тренажеров.
          .services-slider__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Заманивший точках путь злых пустился, строчка о.
          
        .services-slider__item(style="background-image: url(img/c-about-img-3.jpg)")
          .services-slider__overlay
          .services-slider__desc Зона блочных тренажеров.
          .services-slider__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Агенство вдали алфавит, выйти использовало.
          
        .services-slider__item(style="background-image: url(img/c-about-img-3.jpg)")
          .services-slider__overlay
          .services-slider__desc Зона блочных тренажеров.
          .services-slider__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Послушавшись мир вскоре переписывается это диких, правилами своих.
          
        .services-slider__item(style="background-image: url(img/c-about-img-3.jpg)")
          .services-slider__overlay
          .services-slider__desc Зона блочных тренажеров.
          .services-slider__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которой то это, вскоре над первую рыбного гор маленький домах путь сих диких все родного встретил ручеек грамматики инициал строчка.
          
        .services-slider__item(style="background-image: url(img/c-about-img-3.jpg)")
          .services-slider__overlay
          .services-slider__desc Зона блочных тренажеров.
          .services-slider__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ipsum, своего, предупреждал.
          
        .services-slider__item(style="background-image: url(img/c-about-img-3.jpg)")
          .services-slider__overlay
          .services-slider__desc Зона блочных тренажеров.
          .services-slider__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Путь!
          
        .services-slider__item(style="background-image: url(img/c-about-img-3.jpg)")
          .services-slider__overlay
          .services-slider__desc Зона блочных тренажеров.
          .services-slider__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Прямо приставка, вопроса, ipsum взгляд пор одна.
      .services-slider-controls
        .arrow.arrow--left
          .arrow__inner
        //- .services-heading
        .services-description  Парк из 24 тренажеров компании «LifeFitness». Широкий выбор кардиооорудования Life Fitness предоставляет Вам возможность выбрать именно те тренажеры, которые соответствуют всем Вашим потребностям. Кардио зона отличается широким спектром разнообразных функций и характеристик. Оборудование Life Fitness создано для того, чтобы обеспечить вам абсолютно безопасные и предельно эффективные тренировки.

        .arrow.arrow--right
          .arrow__inner

    section.gallery
      .gallery__title Галлерея HAMMER legend
      .gallery-slider

        .gallery-slider__item
            a(href="img/c-gallery-1.png").gallery-slider__img-wrapper
              img(src="/img/c-gallery-1.png", alt="").gallery-slider__img
              .gallery-slider__info Зона блочных тренажеров.
            a(href="img/c-gallery-1.png").gallery-slider__img-wrapper
              img(src="/img/c-gallery-1.png", alt="").gallery-slider__img
              .gallery-slider__info Зона блочных тренажеров.

        .gallery-slider__item
           a(href="img/c-gallery-1.png").gallery-slider__img-wrapper
              img(src="/img/c-gallery-1.png", alt="").gallery-slider__img
              .gallery-slider__info Зона блочных тренажеров.


        .gallery-slider__item
            a(href="img/c-gallery-1.png").gallery-slider__img-wrapper
              img(src="/img/c-gallery-1.png", alt="").gallery-slider__img
              .gallery-slider__info Зона блочных тренажеров.
            a(href="img/c-gallery-1.png").gallery-slider__img-wrapper
              img(src="/img/c-gallery-1.png", alt="").gallery-slider__img
              .gallery-slider__info Зона блочных тренажеров.


        .gallery-slider__item
           a(href="img/c-gallery-1.png").gallery-slider__img-wrapper
              img(src="/img/c-gallery-1.png", alt="").gallery-slider__img
              .gallery-slider__info Зона блочных тренажеров.


        .gallery-slider__item
            a(href="img/c-gallery-1.png").gallery-slider__img-wrapper
              img(src="/img/c-gallery-1.png", alt="").gallery-slider__img
              .gallery-slider__info Зона блочных тренажеров.
            a(href="img/c-gallery-1.png").gallery-slider__img-wrapper
              img(src="/img/c-gallery-1.png", alt="").gallery-slider__img
              .gallery-slider__info Зона блочных тренажеров.

        .gallery-slider__item
           a(href="img/c-gallery-1.png").gallery-slider__img-wrapper
              img(src="/img/c-gallery-1.png", alt="").gallery-slider__img
              .gallery-slider__info Зона блочных тренажеров.

      .gallery-slider-controls
        .arrow.arrow--left
          .arrow__inner
        .gallery-slider-controls__dots
        .arrow.arrow--right
          .arrow__inner


    footer.footer
      .footer-credits
        .footer__logo
          img(src="/img/logo-footer.svg", alt="")
        .footer__contacts
          p.footer__heading Телефон:
          p +77075287070
          p.footer__heading Адрес:
          p Туркестан 10, ЖК «Коркем 2» Астана
          .footer-social
            a(href="#").footer-social__item.footer-social__item--fb
            a(href="#").footer-social__item.footer-social__item--g
            a(href="#").footer-social__item.footer-social__item--i
          a(href="https://uct.ua" target="_blank") Сделано в UCT
      .map-wrapper
        #map

    .popup
      .popup__dim
      .popup__body
        .popup__heading.popup-animate.popup-animate-1 Благодарим
        .popup__text.popup-animate.popup-animate-2 Укажите ваш номер для уточнения заказа с менеджером.
        form.popup-form(action="#")
          fieldset.popup-animate.popup-animate-3
            input(type="text", placeholder="", required)
            label.input-placeholder Ваше имя
          fieldset.popup-animate.popup-animate-4
            input(type="text", placeholder="", required)
            label.input-placeholder Номер телефона
          button.btn.popup-animate.popup-animate-5
            span.btn__inner отправить



    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD44fLa7d5vR5XVpEal1HHt97Xb3i6bd6Y") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="http://kenwheeler.github.io/slick/slick/slick.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.3/ofi.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/1.12.0/simple-lightbox.min.js")
    script(src="/js/jQuery.scrollSpeed.js")
    script(src="/js/main.js")
